@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

.header{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.btn{
    cursor: pointer;
}
    .btn:hover{
        transform: scale(1.3);
    }

    .btn:active{
        transform: none;
    }

img{
    width: 40%;
}

.title{
    font-size: 45px;
    font-weight: 600;
    align-self: flex-start;
    width: 100%;
}

.a{
    text-decoration: none;
    color: black;
}
    .a:hover{
        transform: scale(1.3);
    }

    .a:active{
        transform: none;
    }

.first_con{
    margin-top: 35px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    
}
    .info{
        width: 50%;
        background-color: #dadada;
        border-radius: 35px;
        display: flex;
        flex-wrap: wrap;
        padding: 1%;
    }

    .text-con{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
        .text{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

.con{
    background-color: #dadada;
    border-radius: 35px;
    font-size: 25px;  
    margin: 100px;
    height: 300px;
    padding: 1%;
}
    .incon{
        display: flex;
        justify-content: center;
    }

    .price{
        display: flex;
        flex-direction: column;
    }

    .el{
        margin: 5%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.overlay{
    /*display: none;*/
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}
    .con-form{
        width: 33%;
        background-color: whitesmoke;
        border-radius: 35px;
        padding: 1%;
    }
        .form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
        }
            .input{
                width: 70%;
            }

            .input-label{
                width: 70%;
                margin-top: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }

            .btn-send{
                width: 40%;
                box-sizing: border-box;
                background: gray;
                display: flex;
                justify-content: center;
                cursor: pointer;
                padding: 5px;
                border-radius: 35px;
                font-size: 20px;
            }

            .btn-send:hover{
                color: white;
            }

            .btn-send:active{
                transform: scale(0.9);
            }



.footer{
    color: white;
    font-size: 20px;
    background-color: #4B4B4B;
    padding: 10px;
}
    .elements{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .el1{
        padding-bottom: 35px;
    }